.box{
  border: 4px dashed rgba(0,0,0,.2);
  padding: 10px;
  margin: 5px 0;
}

.box-3 {
  background-color: pink;
}

.box-4{
  background-color: red;
}

.box-5{
  background-color: blue;
}

.parent-box{
  
}

.child-5{
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.absolute-child{
  font-weight: bold;
  color: white;
  position: absolute;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 10px;
  overflow: hidden;
}
