header{
  background-color: red;
  display: inline-block;
}

nav{
  background-color: orange;
}

main {
  background-color: blue;
  display: inline-block;
}

.box-1{
  box-sizing: border-box;
  border: solid black 2px;
}

.popup{
  background-color: violet;
}


footer{
  background-color: yellow;
}

.column1{
  background-color: lightpink;
}

.column2{
  background-color: darkgrey;
}
