.box {
  border: 4px dashed rgba(0, 0, 0, .2);
  padding: 10px;
  margin: 5px 0;
}

.popup{
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
}

.blanket {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.7);
}

.popup .content{
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  background-color: white;
  width: 400px;
  height: 300px;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -200px;
}

.popup .close{
  border: none;
  background-color: red;
  padding: 10px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  position: absolute;
  top: -20px;
  right: -30px;
  cursor: pointer;
}
